<h1><%- title %></h1>

<%- include("back-btn") %>

<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= book.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= book.authors %></h6>
    <p class="card-text"><%= book.description %></p>
    <p class="card-text">
      Ссылка для скачивания:
      <a href="/<%= book.fileBook %>" class="card-link"><%= book.fileName %></a>
    </p>
    <p class="card-text">
      Просмотры: <%= counter %>
    </p>
    <div class="text-end">
      <a
        class="btn btn-primary"
        href="/books/update/<%= book.id %>"
        title="Редактировать"
      >
        <i class="bi bi-pencil" aria-hidden="true"></i>
      </a>
      <form
        action="/books/delete/<%= book.id %>"
        method="POST"
        class="d-inline"
      >
        <button class="btn btn-danger" title="Удалить">
          <i class="bi bi-trash" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
</div>

<%- include("../comment/form") %>
